{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst|escape }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
&rsaquo; {% trans 'Select' %}
</div>
{% endblock %}

{% block content %}
    <p>{% blocktrans with escaped_object=object %}Following users are in selected {{group_name}}, choose the target to send {{ object_name }} "{{ escaped_object }}":{% endblocktrans %}</p>
    {% for user in users_list %}
            <a href="{{request.path}}{{user.id}}/" style="display: inline-block;vertical-align: middle; line-height: 15px;background: #79aec8;border-radius: 4px;padding: 10px 15px;	color: #fff;margin: 0 0 0 10px;}"class="button cancel-link">{{user.get_full_name}}</a>
    {% endfor %}
{% endblock %}
